@model List<ProyectoMVC.Models.Persona>

    @*@model  ProyectoMVC.Models.ConjuntoPersonas*@


@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>


 <h1>CONJUNTO DE PERSONAS</h1>
<ul>
    @foreach (ProyectoMVC.Models.Persona persona in Model)
    {
        <li>@persona.Nombre,@persona.Apellidos,@persona.Edad</li>
    }
    
</ul>