
@{
    ViewBag.Title = "SumarNumeros";
}

<h2>SumarNumeros</h2>


<form method="post">
    <div>
        <label>SUMAR NUMEROS: </label>
        <input type="text" name="num1" class="form-control" /><br />
        <input type="text" name="num2" class="form-control" /><br />
        <button type="submit" class="btn-success">SUMAR</button>
        <hr />
        <h3 style="color:aquamarine">RESULTADO @ViewBag.Resultado</h3>
    </div>
</form>