
@{
    ViewBag.Title = "TablaMultiplicar";
}

@model List<int>

<h2>TablaMultiplicar</h2>
<form method="post">
    <h1>Introduzca un numero</h1><input type="text" name="numero" class="form-control"/>
    <table>
        <tr><th>OPERACION</th><th>RESULTADO</th></tr>
        
      
    </table><hr />
  <button type="submit" class="btn-success">Tabla Multiplicar</button>

</form>
<hr />
@if(Model != null)
{
    <table class="table-bordered">
        <tr><th>OPERACION</th><th>RESULTADO</th></tr>
        @for(int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@ViewBag.Numero X @(i+1) </td>
                <td>@Model[i] </td>
        </tr>
        }

    </table>
}

