
@{
    ViewBag.Title = "VistaControladorGET";
}

<h2>VistaControladorGET</h2>

<h1>@ViewBag.Mensaje</h1>

@Html.ActionLink("Datos GET", "VistaControladorGET", "Informacion",
                    new { app = "Visual Studio.netbb",version = 2007 }, null)